[font]
size = 13

[font.normal]
family = "{{ font.name }}"

[window]
dynamic_title = true
opacity = 0.8
{% if platform == "Darwin" %}
decorations = "Transparent"
startup_mode = "SimpleFullscreen"
{% endif %}

[window.padding]
x = 1
y = 3

[scrolling]
history = 100000
multiplier = 10
