# [env]
# TERM = "alacritty"

[font]
size = 12

[font.normal]
family = "{{ font.name }}"

[window]
decorations = "none"
dynamic_title = true
opacity = 1
startup_mode = "SimpleFullscreen"

[window.padding]
x = 1
y = 3

[scrolling]
history = 100000
multiplier = 10
