## Name: Tokyo Night Dark

# Special
foreground = {{ glob.foreground }}
cursor = {{ glob.foreground_intense }}
background = {{ glob.background }}

# Black
color0 = {{ glob.background }}
color8 = {{ glob.background_intense }}

# Red
color1 =  {{ glob.red }}
color9 = {{ glob.red_faint }}
color17 = {{ glob.red_intense }}

# Green
color2 = #9ece6a
color10 = #9ece6a

# Yellow
color3 = {{ glob.yellow }}
color11 = {{ glob.yellow_intense }}

# Blue
color4 = {{ glob.blue }}
color12 = {{ glob.blue_dark }}

# Purple
color5 = {{ glob.pink }}
color13 = {{ glob.pink_dark }}

# Cyan
color14 = {{ glob.cyan }}
color6 = {{ glob.cyan_intense }}

# White
color7 = {{ glob.foreground }}
color15 = {{ glob.foreground_intense }}

# Orange
color16 = {{ glob.orange }}
