### After making changes and saving you need to run `termux-reload-settings`
### to update the terminal.  All information here can also be found on the
### wiki: https://wiki.termux.com/wiki/Terminal_Settings

volume-keys = volume
extra-keys = [[TAB, CTRL, ALT, ESC, F12, $]]
use-black-ui = true
bell-character = ignore
back-key=escape
allow-external-apps = true
enforce-char-based-input = true

