run '/opt/homebrew/opt/tpm/share/tpm/tpm'

run-shell ~/.tmux/plugins/tmux-fingers/tmux-fingers.tmux

# Change prefix from C-b to C-Space
unbind C-b
set -g prefix C-Space
bind C-Space send-prefix

set-option -g aggressive-resize on
set-option -g allow-rename off

set -s set-clipboard on
set -s extended-keys on
set -as terminal-features ',xterm-256color:clipboard:extkeys'

bind -n     C-m       choose-window
bind -n     C-f       run -b "#{@fingers-cli} start #{pane_id}"
bind -n     C-s       source-file ~/.config/tmux/tmux.conf
bind -n     M-r       command-prompt -I "#W" { rename-window "%%" }

bind -n     M-End     next-window
bind -n     M-Home    previous-window

bind -n     M-1       select-window -t :0
bind -n     M-2       select-window -t :1
bind -n     M-3       select-window -t :2
bind -n     M-4       select-window -t :3
bind -n     M-5       select-window -t :4
bind -n     M-6       select-window -t :5
bind -n     M-7       select-window -t :6
bind -n     M-8       select-window -t :7
bind -n     M-9       select-window -t :8

bind -n     C-k       kill-session

set -g @fingers-ctrl-action "xargs ~/.local/bin/open"

set -g status-justify left
set -g status-keys vi
set -g status-position top
set -g status-right '%Y-%m-%d %H:%M '

set -g visual-activity on

set -g status-style 'fg={{ glob.white_faint }}'
set -g window-status-current-format '#[fg={{ glob.grey_intense }} bg={{ glob.green_faint }}] #I #W #F '
set -g window-status-format '#[fg={{ glob.green_faint }}]#I #[fg={{ glob.green_faint }}]#W #F '

